.shrinkForm {
    height: 0px !important;
}

#collapse-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 200;
    padding: 10px;
}

#collapse-btn:hover {
    transform: scale(1.2)
}
